


body{
    background-image: url("../interlaced.png");
}

.main{

    background-color: white;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h2{
    margin: 20px 20px 20px 5px;  
    font-size: 24pt;
    font-weight:bold;
    color: #4aaaa5;
}

.btn {
    color: white;
    background-color: #4aaaa5;
}


/* @media screen and (max-width: 640px) {
    #navbarLogoSM {
        background-color: blue;
    }
    #navbarMenuSM{
        background-color: white;
        width: 100%;
        display: block;
  
        margin-right: auto;
        align-content: center;

    }
    #navUL{
        margin-left: 30%;
   
      align-content: center; */
    }

} 