


body{
   

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h2{
    margin: 20px 20px 20px 5px;  
    font-size: 24pt;
    font-weight:bold;
    color: blue;
}

.btn {
    color: white;
    background-color: blue;
}
